body {
    font-family: 'Poppins', sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%) ;
   
}
nav {
    margin: -10px;
    background-color: gold;
    display: flex;
    padding: 1%;
    justify-content: space-around;
}
#logo {
    width: 5%; 
}
.nav {
    text-align: center;
    font-size: 25px;
    text-decoration: none;

}
.nav:hover{
    text-decoration: underline;
    color: white;
    box-shadow: 4px;
    text-decoration-color: black;
    text-transform: capitalize;
    

    
}
#text-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Inner_box{
    display: flex;
    max-width: 500px;
    position: relative;
    display:block;
    margin: 100px;
    /* top:30%; */
    /* transform: translate(-50%,50%); */
    background: rgba(255,255,255,0.7);
    box-shadow: 0 15px 20px rgba(0,0,0,100);
    padding: 30px;
    text-align: center;
    justify-content: flex-start;
}
.Inner_box2{
    margin: 100px;
    display: flex;
    max-width: 500px;
    position: relative;
    display:block;
    /* top:30%; */
    left: 60%;
    /* transform: translate(-50%,50%); */
    background: rgba(255,255,255,0.7);
    box-shadow: 0 15px 20px rgba(0,0,0,100);
    padding: 30px;
    text-align: center;
    justify-content: flex-start;
}





